
.header{
    margin-top: 20px;
    height: 636px;
    background-image: url("./assets/backgrounds/landing.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.header>div{
    margin-left: 20px;
    width:70px;
    height: 15px;
    border-bottom: 7px solid white;
}
/* .food{
    display: flex;
    justify-content: space-evenly;
} */
.foodimg{
    display: flex;
    justify-content: space-evenly;
}
/* .food div:first-child{
    width: 400px;
    border: 5px solid palevioletred;
    justify-content: space-around;
} */
/* .food div:nth-child(2){
    width: 400px;
    border: 5px solid palevioletred;
    justify-content: space-around;
} */
.brf{
    text-align: center;
    vertical-align: middle;
}
