
.header{
    margin-top: 20px;
    height: 636px;
    background-image: url("./assets/backgrounds/landing.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.header>div{
    margin-left: 20px;
    width:70px;
    height: 15px;
    border-bottom: 7px solid white;
}
.foodimg{
    display: flex;
    justify-content:space-around;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* controls the positioning of text and image */
/* ============================================== */
.brf{
    display: flex;
    align-items: center;
}
.brf h1{
    margin-left: -50%;
}
.lunch{
    display: flex;
    align-items: center;
}
.lunch h1{
    margin-left: -50%;
}
.dinner{
    display: flex;
    align-items: center;
}
.dinner h1{
    margin-left: -50%;
}
/* end 
=================================================== */
.food{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

/* button on top elements */
/* =========================== */
.button{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 210px;
    margin-top: 20px;
}
.button>div{
    width: 350px;
    height: 105px;
    border: 2px solid blue;
    text-align: center;
}
/* ================================== */

  /* firstfood and drinks section */
/* ===================================== */
/* .food div:first-child{
    width: 400px;
    border: 5px solid palevioletred;
    justify-content: space-around;
} */
/* .food div:nth-child(2){
    width: 400px;
    border: 5px solid palevioletred;
    justify-content: space-around;
} */
.brf{
    text-align: center;
    vertical-align: middle;
}
